*,
*::before,
*::after{
box-sizing: border-box;
}
.header{
    background-color: #161212;
    
    padding-top: 47px;
}
.container{
    max-width: 1460px;
    margin-right: auto;
    margin-left: auto;
}
.header_contanat{
    display: flex;
}
.logo{

width: 216px;
height: 33px;
}
.header_link{
    color: #E4B564;    ;
    border: 1px solid #E4B564;
    margin-left: 1026px;
   padding: 10px 25px 10px 30px;
    font-family: 'Circe';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
}
/* .img_link{
    padding: 20px 180px 19px 26px;
} */
.header_link_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: #161212;
    padding-top: 120px;
}
.title{
    color: white;
    font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
}
.subtitle{
    color: white;
    font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
margin-top: 41px;
margin-bottom: 41px;
}
.main_contant{
    display: grid;
    
    grid-template-columns: 467px 233px 233px 467px  ;
    grid-template-rows: 468px 468px ;
    /* justify-items: center;
    align-items: center; */
    
    gap: 30px;
   
}
.main_card{
    display: grid;
    justify-items: center;
    align-items: center;
}
.main_cads1{
background-color: #634F2C;;
/* color: white; */
grid-column: 1/2;


}
.main_cads2{
background-color: #B4A385;;
grid-column: 2/4;
}
.main_cads3{
background-color:  #E4B564;
}
.main_cads4{
  background-color: #635A4A;;  
  grid-column: 1/3;
}
.main_cads5{
    background-color: #B08C4D;
    grid-column: 3/5;
}

.main_card_text{
    /* text-align: center;
    padding-top: 234px; */
    color:  #FFFFFF;

}
.our_autopark{
    padding-top: 161px;
    background-color:#161212;
}
.title_cars{
    margin-bottom: 94px;
}
.autopark_text{
    font-family: 'Gilam';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
    color: white;
}
.autopark_text1{
    font-family: 'Gilam';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
    color: white;
}
.autopark_cars_contant{
    display: grid;
    grid-template-columns: repeat(3, 467px) ;
    grid-template-rows: 255px 58px 126px 128px 277px ;
    row-gap: 26px;
    column-gap: 30px;
}
.autopark_cars {
    display: grid;
    
    padding-top: 44px;
    padding-left: 52px;
    color: white;
}
.autopark_cars1{
grid-row: 1/3 ;
grid-column:1/2;
background-color:  #0E0E0E;

}
.autopark_cars2{
    grid-row: 1/4;
    background-color: #242424;

}
.autopark_cars3{
 background-color: #1F1F1F;


}
.autopark_cars4{
    grid-column: 1/2;
    grid-row: 3/6;
    background-color:  #1F1F1F;;

}
.autopark_cars5{
    grid-column: 2/3;
    grid-row: 4/6 ;
    background-color: #E4B564;

}
.autopark_cars6{
grid-row: 2/5;

background-color: #0E0E0E;
}
.autopark_cars7{
background-color:  #0A0909;   
grid-column: 3/4;
grid-row: 5/6;
}
.our_clients{
    background-color: #0E0E0E;
    padding-top: 172px;
   
}
.our_clients_text_button{
    display: flex;
    margin-bottom: 72px;
}
.our_clients_button{
    margin-left: 703px;
    background-color:  #0E0E0E;
    border-color:#E4B564 ;
    /* border: 1px solid #E4B564 */
    color: #E4B564;
    padding: 10px 30px;
}
.our_clients_contant_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-template-rows: repeat(2,391px);
}
.our_clients_cards1{
 
    background: #634F2C;
   
    background-position: center;
    background-image: url(../Img/our_clients_photo1.png);
    background-repeat: no-repeat;
    
    
    
}


.our_clients_cards2{
    background: rgba(232, 210, 171, 0.76);
    position: relative;
    /* background-image: url(../Img/our_clients_photo2.png);
   
    background-repeat: no-repeat;
    background-position: top 61px center; */
}
.our_clients_cards3{
    background: #E4B564;
    background-image: url(../Img/our_clients_photo3_4.png);
    background-repeat: no-repeat;
    background-position:  center;
}
.our_clients_cards4{
    background: #635A4A;
    background-image: url(../Img/our_clients_photo3_4.png);
    background-repeat: no-repeat;
    background-position: center;
}

.our_clients_cards5{
    background: #B08C4D;
    position: relative;
}
.our_clients_cards6{
    background: #634F2C;
    background-position: center;
    background-image: url(../Img/our_clients_photo1.png);
    background-repeat: no-repeat;
}
/* .our_photo1_6{
    width: 185px;
    height: 49px;
} */
.our_clients_cards{
    display: grid;
    align-items: center;
    justify-items: center;
}
.our_clients_text{
    font-family: 'Gilam';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
    position: absolute;
    top: 166px;
    left: 106px;
    color: white;
    max-width: 280px;
    height: 140px;
    text-align: center;
}
.our_clients_text span{
    font-weight: 200;
    
}
 .our_photo2{
   
    position: absolute;
    left: 173px;
    top: 105px;
 }
 .our_photo1{
    position: absolute;
    top: 55px;
    left: 217px;
 }
 .vector_text{
   
    font-family: 'Gilam';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
color: white;
 }
 .vector_5{
position: absolute;
left: 178px;
top: 173px;
 }
 .vector_5_2{
position: absolute;
left: 226px;
top: 184px;
 }
 .footer{
    height: 238px;
    background-color:  #161212;
 }